# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfstate.backup
crash.log
crash.*.log

# Sensitive files
terraform.tfvars
*.auto.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# SSH keys
*.pem
*.key

# OS files
.DS_Store
Thumbs.db
